<div class="header">
    <div class="board" key="boards">
        <div object key:board-heading="@search" key:id="{{currentItem.id}}">
            <div>
                <p class="header__text" target:board-heading="@innerText" edit:board-heading:without-remove>{{default
                    currentItem.boardHeading}}</p>
            </div>
            <div class="board-container">
                <div class="board" array key="stacks">
                    {{#for stack in currentItem.stacks}}
                    <div class="stack" object key:stack-heading="@search" key:id="{{stack.id}}">
                        <div class="stack__top">
                            <p class="stack__text" target:stack-heading="@innerText">{{default
                                stack.stackHeading}}</p>
                            <button class="stack__add-card" new:card>
                                <img class="stack__new-icon" src="/assets/images/new.svg">
                                <p>Add list</p>
                            </button>
                        </div>
                        <div class="stack__list" array key="cards" sortable>
                            {{#for card in stack.cards}}
                            <div class="card" object key:card-text="@search" key:event-time="@search"
                                key:id="{{card.id}}" edit:event-time edit:card-text>
                                <img class="card__drag" src="/assets/images/drag.svg">
                                <p class="event__time" target:event-time="@innerText">{{default
                                    card.eventTime "12:00AM"}}</p>
                                <p class="card__text" target:card-text="@innerText">
                                    {{default card.cardText "Todo
                                    item"}}</p>
                            </div>
                            {{/for}}
                        </div>
                    </div>
                    {{/for}}
                </div>
            </div>
        </div>
    </div>
</div>